body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 10%;
  }
  
  .announce {
      text-align: center;
  }

  .container {
    border: 2px solid #a2a2a6;
    border-radius: 25px;
    padding: 10px;
    margin: 20px auto;
  }
  
  .color-container {
    width: 100%;
  }
  
  .color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
    padding: 10, 10;
  }
  
  .oxford-blue {
    background-color: #002147;
    color: #fff;
  }
  
  .blue-sapphire {
    background-color: #315A72;
    color: #fff;
  }
  
  .shadow-blue {
    background-color: #7D8BA1;
  }

  .burnt-umber {
    background-color: #8A3324;
    color: #fff;
  }
  
  .peach-crayola {
    background-color: #FB9;
  }

  .peach-puff {
    background-color: #FFDDC2;
  }
  
  .font-panel {
    width: 45%;
    display: inline-block;
  }
  
  .font-label {
    font-size: 20px;
    text-decoration: underline;
  }
  
  .regular {
    font-style: normal;
  }
  
  .italic {
    font-style: italic;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
  }
  
  .source-code-pro {
    font-family: 'Source Code Pro', monospace;
  }
  
  .poppins {
    font-family: 'Poppins', sans-serif;
  }

  .merriweather {
    font-family: 'Merriweather', serif;
  }
  
  .text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Merriweather', serif;
  }

  .text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
  
  .text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
  }